.drop-btn {
    background-color: rgb(104, 236, 236);
    border: 1 px solid black;
    padding: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  .drop-btn:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: block;
    position: absolute;
    top: 0px;
    width:  400px;
    background-color: beige;
    
    border: solid 1px black;
   
    z-index: 1;
  }
  
  .dropdown-content div {
    padding: 2px 5px;
  }
  
  .dropdown-content div:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
  }

  .disable{
    color: rgba(97, 96, 96, 0.616);
  }
  