.container {
    width: 80%;
    height: 100px;
    border: solid 1px black;
    display: flex;
  }
  
  .left {
    height: 100px;
    width: 5%;
    border-right: solid 1px black;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  .middle {
    height: 100px;
    width: 80%;
    border-right: solid 1px black;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .right {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .middle > p {
    margin-bottom: 0px;
    margin-top: 5px;
  }
  