.invoiceProgress-invoice-container {
    
    min-width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
  }
  
  .invoiceProgress-invoice-status-list-container {
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;
    gap: 12px;
    box-sizing: border-box;
  }

  .invoiceProgress-header-container{
    
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    
  }
  .invoiceProgress-count{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    width: 1rem;
    height: 1rem;
    color: white;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    top: -19px;
    right: -19px;
  

  }
 


.invoiceProgress-header-container p {
  margin: 0;
} 
.invoiceProgress-heading{
  
  position: relative;
  
 
}

  
  .invoiceProgress-top-bar {
    background-color: brown;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 12px;
    box-sizing: border-box;
    min-width: 100%;
  }
  
  .invoiceProgress-top-bar-topHalf {
    display: flex;
    gap: 10px;
  }
  
  .invoiceProgress-invoice-status-headers {
    height: 40px;
  
    display: flex;
    align-items: center;
    gap: 12px;
    box-sizing: border-box;
  }
  .invoiceProgress-invoice-status-headers .invoiceProgress-header-container{
    min-width: 32.8%;
  
    background-color: black;
    color: white;
  
    margin: 0;
    box-sizing: border-box;
    padding: 12px 12px;
  }
  
  .invoiceProgress-invoice-status-list-container .invoiceProgress-column{
   
   
   min-width: 32.8%;
   box-sizing: border-box;
  
    text-align: start;
    min-height: min-content;
    
   
  }
  
  .invoiceProgress-searchBar {
    text-align: center;
    flex-grow: 1;
  }
  