.card {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
   
  }
  
  .left {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  .right p {
    
    margin: 0;
    padding: 2px 0;
  }
 
  .reference {
    color: grey;
    font-size: 0.92rem;
  }
  